body {
    background-color: rgb(27, 19, 19);
}

button {
    display: inline-block;
    margin-left: 13px;
}

p {
    color: white;
    font-family: sans-serif;
    display: inline-block;
    margin: 0;
    margin-left: 45px;
}


#dotQtyInput {
    width: 10px;
}


